html{
  scroll-behavior: smooth;
}

body{
  font-family: 'lato',sans-serif;
  padding: 0;
  margin: 0;
}

nav{
  background-color: black;
  color: white;
  padding: 20px 50px;
}
.navBottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput{
  border: none;
  background-color: transparent;
}
.searchInput::placeholder{
  color: lightgray;
}
.limitedOffer{
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.menuItem{
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}


.slider{
  background: green;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderBg{
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;}

.sliderImg{
  z-index: 1;
}

.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderTitle{
  position: absolute;
  top: 10%;
  right: 10%;
  font-style: 60px;
  font-weight: 900;
  text-align: center;
  color:white;
  z-index: 1;
}
.sliderPrice{
  position: absolute;
  top: 10%;
  left: 10%;
  font-style: 60px;
  font-weight: 300;
  text-align: center;
  border: 1px solid gray;
  color:white; 
  z-index: 1;
}

.sliderWrapper{
  display: flex;
  transition: all 1s ease-in-out;
  width: 500px;
}

.buyButton{
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  background-color: black;
  border: 1px solid gray;
  cursor: pointer;
  color:white; 
  z-index: 1;
}
.buyButton:hover{
  background-color: white;
  color: black;
}
.sliderItem:nth-child(1) .slideBg{
  background-color: aqua;
}
.sliderItem:nth-child(2) .slideBg{
  background-color: purple;
}
.sliderItem:nth-child(3) .slideBg{
  background-color: teal;
}
.sliderItem:nth-child(4) .slideBg{
  background-color: blue;
}


.sliderItem:nth-child(5) .sliderPrice{
  background-color: rgb(124, 115, 80);
}
.sliderItem:nth-child(1) .sliderPrice{
  background-color: aqua;
}
.sliderItem:nth-child(2) .sliderPrice{
  background-color: purple;
}
.sliderItem:nth-child(3) .sliderPrice{
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderPrice{
  background-color: blue;
}
.sliderItem:nth-child(5) .sliderPrice{
  background-color: rgb(124, 115, 80);
}

.features{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 50px;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon{
  width: 50px;
  height: 50px;
}
.featureTitle{
  font-style: 20px;
  font-weight: 600;
  margin: 20px;
}
.featureDesc{
  color: gray;
  width: 50%;
  height: 100px;
}

.payment{
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  flex-direction: column;
  padding: 10px 50px;
  -webkit-box-shadow: 8px 5px 15px 5px #000000; 
box-shadow: 8px 5px 15px 5px #000000;
}

.product{
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

}

.payTitle{
  font-size: 20px;
  color: lightgray;
}

label{
  font-size: 14px;
  font-weight: 300;
}

.payInput{
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.cardIcons{
  display: flex;
}

.cardIcon{
  margin-right: 10px;
}

.cardInfo{
  display: flex;
  justify-content: space-between;
}

.sm{
  display: flex;
  justify-content: space-between;
}

.payButton{
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 8px 5px 15px 5px #000000; 
  box-shadow: 8px 5px 15px 5px #000000;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.payInput::placeholder{
  color: rgb(163, 163, 163);
}

.close{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: black;
  color: white;
  top: 10%;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImg{
  width: 50%;
}

.productDetails{
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;

}

.productTitle{
  font-size: 75px;
  font-weight: 900;
}

.productDesc{
  font-style: 20px;
  color: gray;
}

.colors,.sizes{
  display: flex;
  margin-bottom: 20px;
}
.color{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}
.color:last-child{
  background-color: darkblue;
}

.size{
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px
  ;
}


.productButton{
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover{
  background-color: white;
  color: black;
}

.gallery{
  display: flex;
  padding: 50px;
}

.galleryItem{
  flex: 1;
  padding: 50px;  
}

.galleryImg{
  width: 100%;
}

.newSeason{
  display: flex;
}

.nsItem{
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg{
  width: 100%;
  height: 500px;
}

.nsTitle{
  font-size: 40px;
}

.nsButton{
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

.footer{
  display: flex;
}

.footerLeft{
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footerRight{
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fButton{
  padding: 5px;
  background-color: black;
  color: white;
}

.fInput{
  padding: 5px;
}

.fIcons{
  display: flex;
}
.fIcon{
  height: 20%;
  width: 20px;
}

.copyright{
  font-weight: 300;
  font-size: 14px;
}

.fMenuTitle{
  font-size: 16px;
}

.fList{
  padding: 0;
  list-style: none;
}

.fListItem{
  flex: 1;
  color: gray;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  .buyButton{right: 0;top: 0;}
  .features{flex-direction: column;}
  .footer{align-items: center;flex-direction: column;}
  .footerLeft{padding: 20px;}
  .footerRight{background-color: whitesmoke;;padding: 20px;align-items: center;}

  .gallery{display: none;}

  .search{display: none;}
  
  .menuItem{margin: 20px;font-weight: 700;font-size: 20px;}
  
  nav{padding: 20px;}
  .navBottom{flex-wrap: wrap;}

  .newSeason{flex-direction: column;}
  
  .nsItem:nth-child(2){padding: 50px;}
  .product{clip-path: none;display: flex;flex-direction: column;align-items: center;}

  .payment{width: 90%;padding: 20px;}

  .productDetails{align-items: center;;display: flex;flex-direction: column;width: 100%;padding: 0;position: relative;text-align: center;top: 0;}

  .productImg{width: 80%;}

  .productTitle{font-style: 50px;margin: 0;}

  .slider{clip-path: none;}
  .sliderImg{width: 90%;}
  .slideBg{width: 100%;height: 100%;}
  .sliderPrice{top: unset;bottom: 0;left: 0;background-color: lightgray;}
  .sliderTitle{display: none;}
}