body{
  font-family: 'lato',sans-serif;
  padding: 0;
  margin: 0;
}

nav{
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput{
  border: none;
  background-color: transparent;
}
.searchInput::placeholder{
  color: lightgray;
}
.limitedOffer{
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.menuItem{
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.navBottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  background: green;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderBg{
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
}

.sliderImg{
  z-index: 1;
}

.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderTitle{
  position: absolute;
  top: 10%;
  right: 10%;
  font-style: 60px;
  font-weight: 900;
  text-align: center;
  color:white;
  z-index: 1;
}
.sliderPrice{
  position: absolute;
  top: 10%;
  left: 10%;
  font-style: 60px;
  font-weight: 300;
  text-align: center;
  border: 1px solid gray;
  color:white; 
  z-index: 1;
}

.sliderWrapper{
  display: flex;
  transition: all 1s ease-in-out;
  width: 500px;
}

.buyButton{
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  background-color: black;
  border: 1px solid gray;
  cursor: pointer;
  color:white; 
  z-index: 1;
}
.buyButton:hover{
  background-color: white;
  color: black;
}
.sliderItem:nth-child(1) .slideBg{
  background-color: aqua;
}
.sliderItem:nth-child(2) .slideBg{
  background-color: purple;
}
.sliderItem:nth-child(3) .slideBg{
  background-color: teal;
}
.sliderItem:nth-child(4) .slideBg{
  background-color: blue;
}


.sliderItem:nth-child(5) .sliderPrice{
  background-color: rgb(124, 115, 80);
}
.sliderItem:nth-child(1) .sliderPrice{
  background-color: aqua;
}
.sliderItem:nth-child(2) .sliderPrice{
  background-color: purple;
}
.sliderItem:nth-child(3) .sliderPrice{
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderPrice{
  background-color: blue;
}
.sliderItem:nth-child(5) .sliderPrice{
  background-color: rgb(124, 115, 80);
}

.features{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 50px;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon{
  width: 50px;
  height: 50px;
}
.featureTitle{
  font-style: 20px;
  font-weight: 600;
  margin: 20px;
}
.featureDesc{
  color: gray;
  width: 50%;
  height: 100px;
}

.product{
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

}

.productImg{
  width: 50%;
}

.productDetails{
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;

}

.productTitle{
  font-size: 75px;
  font-weight: 900;
}

.productDesc{
  font-style: 20px;
  color: gray;
}

.colors,.sizes{
  display: flex;
  margin-bottom: 20px;
}
.color{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}
.color:last-child{
  background-color: darkblue;
}

.size{
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px
  ;
}

/* .productPrice{} */

.productButton{
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover{
  background-color: white;
  color: black;

}