.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

nav {
  background-color: hwb(39 4% 30%);
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
.searchIcon{
  display: flex;
  width: 20px;
  height: 20px;
  padding: 14px;
}

.searchInput {
  // border: solid;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  // background-color: gray;
  color: white;
  // padding: 20px;

}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid white;
  cursor: pointer;
}