
.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: white;
  color: rgb(182, 111, 45);
}

.slider {
  background: url("/src/assets/Stock\ -\ boot\ icon.jpg");
  image-rendering: 50px;
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  color: pink;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  // z-index: 1;
  display: flex;
  box-sizing: 40px 40px;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}
.sliderImg{
  display: flex;
  flex-shrink: 2;
  flex-wrap: wrap;
  // top: -200px;
  // bottom: -200px;
}

.expand{width: 80vw;
  bottom: 10rem;
  top: 20rem;
}

// .sliderItem:nth-child(1) .sliderBg {
//   background-color: #369e62;
// }
// .sliderItem:nth-child(2) .sliderBg {
//   background-color: rebeccapurple;
// }
// .sliderItem:nth-child(3) .sliderBg {
//   background-color: teal;
// }
// .sliderItem:nth-child(4) .sliderBg {
//   background-color: cornflowerblue;
// }
// .sliderItem:nth-child(5) .sliderBg {
//   background-color: rgb(124, 115, 80);
// }

// .sliderItem:nth-child(1) .sliderPrice {
//   color: #369e62;
// }
// .sliderItem:nth-child(2) .sliderPrice {
//   color: white;
// }
// .sliderItem:nth-child(3) .sliderPrice {
//   color: teal;
// }
// .sliderItem:nth-child(4) .sliderPrice {
//   color: cornflowerblue;
// }
// .sliderItem:nth-child(5) .sliderPrice {
//   color: cornsilk;
// }
